* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', 'sans-serif';
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px black;
}

h1,
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: lightgreen;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-size: 16px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: greenyellow;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: green;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table,
th,
td {
    border: 1px solid white;
}

th,
td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: chartreuse;
}

td a {
    color: black;
    text-decoration: none;
}

td a:hover {
    text-decoration: underline;
}

a {
    text-align: center;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;

    background-color: aquamarine;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
}

a:hover {
    background-color: aqua;
}